html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

h1 {
  margin-top: 53px;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.promo {
  height: 800px;
  background: url('/src/img/background/main_bg.png') center center/cover
    no-repeat;
  padding: 39px 0 62px 0;
}

.logo .logo_img {
  display: block;
  margin: 0 auto;
}

.logo .logo_text {
  color: #fff;
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  margin-top: 14px;
}

h2.title {
  margin-top: 30px;
}

.title {
  color: #f9bf3b;
  font-family: 'Roboto - Black';
  font-size: 41px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
}

.simple .title_big {
  color: #fff;
  font-family: 'Roboto - Black';
  font-size: 80px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  margin-top: 21px;
}

.promo .promo_text {
  padding: 0 13px;
  margin-top: 23px;
  color: #fff;
  font-family: 'Roboto Light';
  font-size: 21px;
  font-weight: 300;
  line-height: 28px;
  text-align: center;
}

.promo .promo_text span {
  color: #f9bf3b;
  font-family: 'Roboto Bold';
  font-weight: 700;
}

.promo .promo_btn,
.bonus .bonus_btn {
  display: block;
  color: #fff;
  margin: 0 auto;
  margin-top: 50px;
  width: 313px;
  height: 72px;
  border: none;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
  background: linear-gradient(0deg, #2798b9 0%, #3ab6da 100%);
  font-family: 'Roboto Bold';
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  cursor: pointer;
  outline: none;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.22);
}

.more {
  margin-top: 50px;
}

.more .more_text {
  color: #fff;
  font-size: 15px;
  font-weight: 100;
  font-family: 'Roboto - Thin';
  text-transform: uppercase;
  text-align: center;
}

.more .more_img {
  display: block;
  margin: 0 auto;
  margin-top: 8px;
}

.waiting {
  min-height: 604px;
  background-color: #efefef;
  padding: 85px 0 75px 0;
}

.waiting .waiting_header,
.finish .finish_header {
  color: #252525;
  font-family: Roboto;
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}

.finish .finish_header {
  color: white;
}

.waiting .waiting_divider,
.finish .finish_divider {
  margin: 0 auto;
  margin-top: 18px;
  width: 217px;
  height: 4px;
  background-color: #f9bf3b;
}

.waiting .waiting_subheader {
  margin-top: 17px;
  color: #4a4a4a;
  font-family: Roboto;
  font-size: 23px;
  font-weight: 400;
  text-align: center;
}

.waiting .waiting_wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 45px;
}

.waiting .waiting_wrapper .waiting_item {
  width: 339px;
  text-align: center;
}

.waiting .waiting_wrapper .waiting_item .waiting_img {
  width: 100%;
}

.waiting .waiting_wrapper .waiting_item .waiting_descr {
  margin-top: 33px;
  color: #4a4a4a;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  line-height: 21px;
}

.optimization {
  min-height: 550px;
  padding: 102px 0 107px 0;
  position: relative;
}

.optimization .optimization_header {
  margin-left: 391px;
  color: #299cbd;
  font-family: 'Roboto - Black';
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
}

.optimization .optimization_text {
  margin-top: 25px;
  margin-left: 391px;
  color: #4a4a4a;
  font-family: 'Roboto Light';
  font-size: 17px;
  line-height: 27px;
  font-weight: 300;
}

.optimization .optimization_text span {
  font-family: 'Roboto Bold';
  font-weight: 700;
}

.optimization .optimization_img {
  position: absolute;
  top: 48px;
  left: 240px;
  z-index: -1;
}

.finish {
  min-height: 447px;
  padding: 86px 0 79px 0;
  background: url('/src/img/background/second_bg.png') center center/cover
    no-repeat;
}

.finish .finish_wrapper {
  margin-top: 41px;
  display: flex;
  justify-content: space-between;
}

.finish .finish_wrapper .finish_item {
  width: 204px;
}

.finish .finish_wrapper .finish_round {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 115px;
  height: 115px;
  background-color: #b4e2ff;
  border-radius: 100%;
}

.finish .finish_wrapper .finish_item .finish_descr {
  margin-top: 25px;
  color: #efefef;
  text-align: center;
  font-family: Roboto;
  font-size: 17px;
  font-weight: 300;
  line-height: 20px;
}

.bonus {
  background-color: #efefef;
  min-height: 630px;
  padding: 85px 0 88px 0;
}

.bonus .bonus_img {
  display: block;
  margin: 0 auto;
  width: 154px;
  height: 174px;
}

.bonus .bonus_text {
  height: 113px;
  margin-top: 45px;
  font-family: 'Roboto', regular;
  font-weight: 400;
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  color: #252525;
}

.bonus .bonus_btn {
  margin-top: 50px;
  width: 313px;
  height: 72px;
}

.meet {
  min-height: 512px;
  padding: 90px 0 50px 0;
}

.meet .meet_img {
  display: block;
  margin: 0 auto;
}

.meet .meet_text {
  margin-top: 36px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
  color: #252525;
}

.meet .meet_time_text {
  margin-top: 30px;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 36px;
  text-transform: uppercase;
  text-align: center;
  color: #299cbd;
}

.meet .meet_text_places {
  margin-top: 25px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 23px;
  text-align: center;
  color: #4a4a4a;
}

.footer {
  min-height: 169px;
  background-color: black;
  padding: 57px 0 70px 0;
  color: #888;
}

.footer .footer_info {
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  width: 407px;
}

.footer .footer_info_href {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 15px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-align: center;
}

.footer .footer_phone {
  text-align: center;
  margin-top: 9px;
  text-decoration: none;
}

.footer .footer_info .footer_phone_href {
}
